<h1>Places</h1>

<ul>
<div class="row">

  <% for place in @places %>

    <div class="col-md-4">
      <div class="card mb-4">

        <div class="card-body">

          <h5 class="card-title">
            <%= place["name"] %>
          </h5>

          <a href="/places/<%= place["id"] %>" class="btn btn-outline-primary">
            View Entries
          </a>

        </div>

      </div>
    </div>

  <% end %>

</div>
</ul>

<p>
  <a href="/places/new" class="btn btn-primary mb-3">New Place</a>
</p>